# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/Components/NavBar/backup-NavBar.js
/src/Components/NavBar/backup-NavBar2.js
/src/Components/NavBar/_backup-navbar.scss
/src/Components/Contador/backup-Contador.js
/src/Components/Contador/backup-Contador2.js
/src/Components/Contador/backup-Contador3.js
/src/Components/ItemDetail/backup-ItemDetail.js
/src/Components/ItemListContainer/backup-ItemListContainer.js
/src/Components/ItemListContainer/backup-ItemListContainer2.js
/src/Components/Lista/backup-Lista.js
/src/Components/Lista/backup-Lista2.js
/src/backup-App.js
/src/backup-App2.js
/src/backup-App3.js
/mirarAPI.txt
/backup-productos.json
/BACKUP-PRE-ROUTER/


