@use '../../scss/vars' as *;
@use '../../scss/predef' as *;

#contenedor {

    #contenido {

        .contenido__itemlistcontainer,
        .contenido__itemlistcontainer--load {

            h2 {
                color: map-get($color, "rojo_03");
            }

            .contenido__itemlist--cont {
                @include caja__flexible--edit ($flx_bx_ff: row wrap, $flx_bx_alit: flex-start, $flx_bx_juco: flex-start, $flx_bx_gap: 3vw);
                margin: 15px 0;
                list-style: none;
    
                .contenido__item--box {
                    width: 43.5vw;
                    padding: 1.75vw;
                    display: inline-block;
                    background-color: map-get($color, "rojo_08");
                    color: map-get($color, "blanco");
                    font-family: $fnt_01;
                    font-size: 1rem;
                    border-radius: 9px;

                    .contenido__item--box_img-cont {
                        width: 100%;
                        margin: 0 0 1svh 0;
                        border-radius: 5px;

                        img {
                            object-fit:cover;
                            width: 100%;
                            height: 100%;
                            display: block;
                            border-radius: 5px;
                        }
                    }

                    h3 {
                        font-size: 5vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        font-size: 3.75vw;
                        font-weight: 400;
                    }

                }
    
            }

        }

    }

}