@use 'vars' as *;
@use 'predef' as *;

#contenedor {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:

        "cabecera"
        "contenido"
        "pie"

    ;

    // #cabecera,
    // #contenido,
    // #pie {
    //     //display: block;
    //     width: 100%;
    // }

    #cabecera {
        grid-area: cabecera;
        background: linear-gradient(180deg, map-get($color, "blanco") 95%, map-get($color, "gris_11") 5%);
        //height: 45px;
        height: 6.3739376771svh;
        border-bottom: 1px solid map-get($color, "gris_10");
        padding: 0 5vw;

        .cabecera__cont {
            @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: space-between, $flx_bx_gap: 0);
            //@extend .flex-1;
            //height: 45px;
            height: 6.3739376771svh;
        }

        .cabecera__cont--load {
            @include caja__flexible--edit ($flx_bx_ff: row nowrap, $flx_bx_alit: center, $flx_bx_juco: flex-start, $flx_bx_gap: 0);
            //@extend .flex-1;
            //height: 45px;
            height: 6.3739376771svh;
        }
    }

    #contenido {
        grid-area: contenido;
        min-height: 68.6260623229svh;
        padding: 3svh 5%;

        .contenido__temporal--margenparaeldivdetitulo {
            margin: 25px 0 0;
        }
    }

    #contenido.item {
        display: grid;
        place-items: center;
        //padding: 11svh 5%
    }

    #pie {
        grid-area: pie;
        background-color: map-get($color, "gris_01");
        color: map-get($color, "blanco");
        height: 25svh;
    }
}